<script src="./../js/main.js"></script>
<div>
    <form action="/logout" method="get">
        <div>
            <img src="imgs/{{avatar}}" alt="" style="height: 70px;">
            <h1 style="display: inline; font-size: xx-large;">Bienvenido {{name}} </h1>
            <p style="display: inline;">Correo electrónico: {{email}}</p>
        </div>
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
</div>